/* Ubuntu Sans Mono */
@font-face {
  font-family: 'Ubuntu Sans Mono';
  src: url('/fonts/ubuntu_mono/UbuntuSansMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu Sans Mono';
  src: url('/fonts/ubuntu_mono/UbuntuSansMono-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 1000;
  font-style: italic;
  font-display: swap;
}

/* Montserrat Alternates */
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/montserrat_alter/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/montserrat_alter/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/montserrat_alter/MontserratAlternates-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/montserrat_alter/MontserratAlternates-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/montserrat_alter/MontserratAlternates-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/montserrat_alter/MontserratAlternates-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/montserrat_alter/MontserratAlternates-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/montserrat_alter/MontserratAlternates-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/montserrat_alter/MontserratAlternates-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/montserrat_alter/MontserratAlternates-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}