---
interface Props {
	logo?: string;
	url?: string;
	label?: string;
	description?: string;
	invertOnDark?: boolean;
	admitted?: boolean; // Add admitted property
}
const { logo, url, label, description, invertOnDark = false, admitted = true } = Astro.props;
---

<a href={url} aria-label={label}>
    <button
        class={`w-full h-auto min-h-[2.5rem] rounded-lg bg-none hover:bg-[var(--btn-plain-bg-hover)] active:bg-[var(--btn-plain-bg-active)] transition-all py-2 pl-2 hover:pl-3 text-neutral-700 dark:text-neutral-300 ${admitted ? '' : 'opacity-30'}`}
    >
        <div class="flex items-center justify-between relative mr-2">
            <div class="flex items-center min-w-0">
                {logo && (
                    <div class="transition w-9 h-9 mr-2 rounded-lg flex items-center justify-center flex-shrink-0">
                        <img 
                            src={logo} 
                            alt="Logo" 
                            class={`w-7 h-7 object-contain ${invertOnDark ? 'dark:invert' : ''} ${admitted ? '' : 'grayscale'}`}
                            onerror="this.parentElement.style.display='none'" 
                        />
                    </div>
                )}
                <div class="overflow-hidden text-left whitespace-nowrap overflow-ellipsis">
                    <slot></slot>
                </div>
            </div>
            {description && (
                <div class="text-right text-gray-500 text-sm whitespace-nowrap overflow-hidden overflow-ellipsis ml-2 flex-shrink-0">
                    {description}
                </div>
            )}
        </div>
    </button>
</a>